/*-----------------------------------------------------------
=======CSS Indexing=======
--------------------------
2. Theme Default CSS
3. Bootstrap-Class-Modify
4. Helper-Classes
5. Button-Style
5.1 Button-Size
6. MainMenu-Stype
6.1 Default-MainMenu-Area
6.2. Transparent-MainMenu-Area
6.3 DropDown-Support
7. Site-Header
8. Post-list-Style
9. Post-Gallery-Slider-Style
10. Pagination-Style
11. single-post-style
12. Comment-Form
13. Comment-List
14. Sidebar-widgets-Style
14.1 widget-search-box
15. Footer-Area
16. Preloader-Style
---------------------------*/

/*-- 2. Theme Default CSS --*/

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8em;
    color: #606060;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    background-color: #FFFFFF;
}

/*-- 3. Bootstrap-Class-Modify --*/

.form-control {
    height: auto;
    padding: 13px;
    border-radius: 2px;
    border: 1px solid #dadada;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.form-control:focus {
    border: 1px solid #dadada;
    -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.form-double {
    overflow: hidden;
}

.form-double .form-group {
    width: calc(50% - 7.50px);
    float: left;
}

.form-double .form-group.last {
    float: right;
}

/*-- 4. Helper-Classes --*/

.upper {
    text-transform: uppercase;
}

.circle {
    border-radius: 100%;
}

.section-padding {
    padding: 100px 0;
}

/*-- 5. Button-Style --*/

.bttn {
    display: inline-block;
    padding: 12px 45px;
    padding: 12px 45px;
    color: #3ccdbb;
    border: 1px solid #3ccdbb;
    border-radius: 2px;
    background: none;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-align: center;
}

.bttn:focus,
.bttn:hover {
    background-color: #3ccdbb;
    color: #ffffff;
    -webkit-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.bttn-round {
    border-radius: 100px !important;
}

/*-- 5.1 Button-Size --*/

.bttn.bttn-lg {
    padding: 18px 60px;
}

.bttn.bttn-md {
    padding: 12px 45px;
}

.bttn.bttn-sm {
    padding: 6px 30px;
}

.bttn.bttn-xs {
    padding: 3px 15px;
}

/*-- 6. MainMenu-Stype --*/

/* 6.1 Default-MainMenu-Area */

.mainmenu-area {
    position: relative;
    width: 100%;
    z-index: 9999;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.mainmenu-area.affix {
    position: fixed;
    top: 0;
    left: 0;
}

.admin-bar .mainmenu-area.affix {
    top: 30px;
}

.mainmenu-area .navbar-brand {
    padding: 30px 30px 50px 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: #3ccdbb;
}

.mainmenu-area ul.nav.navbar-nav > li > a {
    padding: 15px 20px;
    margin: 15px 0;
    background: none;
    color: #3ccdbb;
    border-radius: 2px;
}

.mainmenu-area ul.nav.navbar-nav > li.active > a,
.mainmenu-area ul.nav.navbar-nav > li:hover > a {
    background-color: #3ccdbb;
    color: #ffffff;
}

/* 6.2 Transparent-MainMenu-Area */

.mainmenu-area.tr {
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0);
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0);
}

.mainmenu-area.tr.affix {
    position: fixed;
}

.mainmenu-area.tr.affix {
    background-color: #2ACADB;
    -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.mainmenu-area.tr .navbar-brand {
    color: #ffffff;
}

.mainmenu-area.tr ul.nav.navbar-nav > li {
    position: relative;
}

.mainmenu-area.tr ul.nav.navbar-nav > li > a {
    background: none;
    color: #ffffff;
    position: relative;
    z-index: 1;
    padding: 20px 10px;
    margin: 10px 10px;
    display: block;
}

.mainmenu-area.tr ul.nav.navbar-nav > li > a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.mainmenu-area.tr ul.nav.navbar-nav > li.current-menu-item > a:after,
.mainmenu-area.tr ul.nav.navbar-nav > li.active > a:after,
.mainmenu-area.tr ul.nav.navbar-nav > li:hover > a:after {
    opacity: 1;
}

@media only screen and ( min-width: 767px) {
    /*-- 6.3 DropDown-Support --*/
    .mainmenu-area ul.nav.navbar-nav li {
        position: relative;
    }
    .mainmenu-area ul.nav.navbar-nav > li ul {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        background-color: #fafafa;
        list-style: none;
        margin: 0;
        padding: 10px 0;
        border-radius: 2px;
        min-width: 200px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
    }
    .mainmenu-area ul.nav.navbar-nav > li > ul:before {
        content: "";
        position: absolute;
        left: 20px;
        bottom: calc(100% - 10px);
        width: 0;
        height: 0;
        border-bottom: 20px solid #f7f7f7;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
    }
    .mainmenu-area ul.nav.navbar-nav > li ul li {
        padding: 0 10px;
    }
    .mainmenu-area ul.nav.navbar-nav > li ul li a {
        display: block;
        padding: 5px 10px;
    }
    .mainmenu-area ul.nav.navbar-nav li:hover > ul {
        visibility: visible;
        opacity: 1;
    }
    .mainmenu-area ul.nav.navbar-nav > li > ul > li ul {
        left: auto;
        right: calc(100% + 10px);
        top: -10px;
    }
    .mainmenu-area ul.nav.navbar-nav > li > ul > li ul:before {
        content: "";
        position: absolute;
        left: calc(100% - 10px);
        top: 10px;
        width: 0;
        height: 0;
        border-left: 20px solid #f7f7f7;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }
}

/*-- 7. Site-Header --*/

.site-header {
    padding: 150px 0;
    position: relative;
    z-index: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.site-header:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00c9fd;
    background: -webkit-linear-gradient(left, #00c9fd 1%, #81ee8e 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(1%, #00c9fd), to(#81ee8e));
    background: -o-linear-gradient(left, #00c9fd 1%, #81ee8e 100%);
    background: linear-gradient(to right, #00c9fd 1%, #81ee8e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c9fd', endColorstr='#81ee8e', GradientType=1);
    z-index: -1;
    opacity: 0.8;
}

.site-header .header-title {
    margin-bottom: 20px;
    font-size: 40px;
}

.site-header a:hover {
    color: #e7e7e7;
}

/*-- 8. Post-list-Style --*/

.blog-posts .post-single.sticky {
    background-color: #f2f2f2;
    padding: 50px;
    border-radius: 5px;
}

.blog-posts .post-single {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #f2f2f2
}

.single-post .blog-posts .post-single,
.blog-posts .post-single:last-child,
.blog-posts .post-single:nth-last-child(2) {
    border-bottom: none;
    margin-bottom: 0;
}

.blog-posts .post-single .quote-content,
.blog-posts .post-single .link-content {
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #f2f2f2;
    padding: 50px 50px 40px 50px;
    border-radius: 5px;
}

.blog-posts .post-single .chat-content p {
    padding: 20px;
}

.blog-posts .post-single .chat-content p:nth-child(2n + 1) {
    background-color: #f7f7f7;
    border-radius: 2px;
}

.blog-posts .post-single .bttn {
    margin-top: 20px;
}

.blog-posts .post-single .link-content {
    text-align: center;
}

.blog-posts .post-single .quote-content:after,
.blog-posts .post-single .link-content:after {
    content: "\f0c1";
    font-family: 'FontAwesome';
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    opacity: 0.5;
}

.blog-posts .post-single .quote-content:after {
    content: '\f10d';
}

.blog_post .post-content ul.post_meta,
.info {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.blog_post .post-content ul.post_meta {
    margin-bottom: 10px;
}

.info li {
    display: inline-block;
    margin-right: 15px;
}

.info li i.fa {
    margin-right: 5px;
}

.info li:last-child {
    margin-right: 10px;
}

.blog-posts .post-single .post-info h4 {
    margin-bottom: 20px;
}

.blog-posts .post-single .post-footer {
    padding: 20px 0;
    margin-top: 100px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    overflow: hidden;
    width: 100%;
}

.blog-posts .post-single .post-shares {
    border-bottom: 1px solid #f2f2f2;
    padding: 30px 0;
}

.footer-content {
    font-size: 14px;
}

.footer-content > span {
    float: right;
}

.footer-content .read-more {
    position: relative;
    padding-right: 13px;
    font-display: inline-block;
    text-transform: uppercase;
}

.footer-content .read-more:after {
    content: "\f0da";
    font-family: 'fontawesome';
    font-size: 18px;
    position: absolute;
    right: 0;
    top: -4px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.footer-content .read-more:hover:after {
    right: -5px;
}

/*-- 9. Post-Gallery-Slider-Style --*/

#post_photo_gallery .owl-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    display: inline-block;
    padding: 10px 40px 0 40px;
    border-radius: 10px 10px 0 0;
}

#post_photo_gallery .owl-controls .owl-pagination > div.owl-page span {
    width: 12px;
    height: 12px;
    transition: 0.3s;
    background: none;
    border: 1px solid #3ccdbb;
    opacity: 1;
}

#post_photo_gallery .owl-controls .owl-pagination > div.owl-page:hover span,
#post_photo_gallery .owl-controls .owl-pagination > div.owl-page.active span {
    background-color: #3ccdbb;
}

#post_photo_gallery .owl-controls .owl-buttons div {
    position: absolute;
    left: 0;
    top: 0;
    color: #3ccdbb;
    background: none;
    font-size: 16px;
    opacity: 1;
}

#post_photo_gallery .owl-controls .owl-buttons div.owl-next {
    left: auto;
    right: 0;
}

/*-- 10. Pagination-Style --*/

.page-links {
    text-align: center;
}

.page-links a {
    font-size: 18px;
    display: inline-block;
}

.single-post-pagination .nav-links > div {
    display: inline-block;
}

.single-post-pagination .nav-links a,
.page-links a,
.pagination .nav-links .page-numbers {
    display: inline-block;
    height: 40px;
    padding: 0 18px;
    margin: 0 2px;
    line-height: 40px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.1);
    color: #3ccdbb;
    border: 1px solid #3ccdbb;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.single-post-pagination .nav-links a:hover,
.page-links a:hover,
.pagination .nav-links .page-numbers.current,
.pagination .nav-links .page-numbers:hover {
    background-color: #3ccdbb;
    color: #ffffff;
    -webkit-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.single-post-pagination .nav-links .nav-next {
    float: right;
}

.single-post-pagination .nav-links a {
    padding: 8px 20px;
    height: auto;
}

/*-- 11. single-post-style --*/

.post-info,
.post-media {
    margin-bottom: 30px;
}

.post-media {
    border-radius: 5px;
    overflow: hidden;
    display: block;
}

.post-media iframe,
.post-media img {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
}

.post-body img {
    margin-bottom: 15px;
}

.post-body > ul,
.post-body > blockquote {
    margin-bottom: 30px;
}

.post-body > p {
    margin-bottom: 0 0 1.41575em;
}

.post-title {
    font-size: 24px;
}

.post-title a {
    color: inherit;
}

/*-- 12. Comment-Form --*/

.comment-respond {
    margin-top: 80px;
}

.comment-respond .comment-form {
    padding-top: 10px;
}

.comment-respond .form-submit {
    margin-top: 15px;
}

/*-- 13. Comment-List --*/

.comments-area {
    margin-top: 80px;
}

.comments-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comments-area .comments-list > li {
    margin-top: 3em;
}

.comments-area .comments-list li li {
    margin-top: 3em;
    margin-left: 3em;
}

.comments-area .comments-list .comment-item {
    position: relative;
    padding-left: 130px;
}

.comments-area .comments-list .comment-item.pingback,
.comments-area .comments-list .comment-item.tackback {
    padding-left: 0;
}

.comments-area .comments-list .comment-pic {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 10px;
}

.comments-area .comments-list .comment-pic img {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.comments-area .comments-list li li .comment-item {
    padding-left: 110px;
}

.comments-area .comments-list li li .comment-pic {
    width: 80px;
    height: 80px;
}

.comments-area .comments-list .comment-item .comment-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #ededed;
}

.comments-area .comments-list .comment-item .comment-header h6 {
    margin-bottom: 10px;
    font-weight: 500;
}

.comments-area .comments-list .comment-item .comment-header .comment-date {
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
}

.comments-area .comments-list .comment-item .comment-reply-link {
    margin-top: 10px;
    display: inline-block;
    text-decoration: underline;
}

.comments-area .comments-list .comment-item .comment-text ol {
    list-style: decimal;
    margin-left: 1.5em;
}

.comments-area .comments-list .comment-item .comment-text ul {
    list-style: disc;
}

.comments-area .comments-list .comment-item .comment-text ol,
.comments-area .comments-list .comment-item .comment-text ul {
    margin: 0 0 0 20px;
    padding: 0;
}

.comments-area .comments-list .comment-item .comment-text > ol,
.comments-area .comments-list .comment-item .comment-text > ul {
    margin: 0;
}

.comments-area .comments-list .comment-text li {
    margin: 0;
}

.comments-area .comments-list .comment-item .comment-text a:hover {
    text-decoration: underline;
}

/*-- 14. Sidebar-widgets-Style --*/

.sidebar .widget {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar .widget:last-child {
    border-bottom: none;
}

.widget select {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.sidebar .widget .widget-title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 18px;
}

.sidebar .widget .widget-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 1px;
    background-color: #626262;
}

.sidebar .widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .widget ul li {
    display: block;
    padding: 10px 0 0 0;
}

.sidebar .widget ul li ul.sub-menu {
    padding-left: 15px;
    ;
}

.sidebar .widget > .menu-mainmenu-container > ul > li,
.sidebar .widget > ul > li {
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar .widget > .menu-mainmenu-container > ul > li:last-child,
.sidebar .widget > ul > li:last-child {
    border-bottom: none;
}

.sidebar .widget > ul > li ul {
    margin-left: 20px;
}


.sidebar .widget.widget_tag_cloud .tagcloud a:after {
    content: ",";
    margin-right: 5px;
}

.sidebar .widget.widget_tag_cloud .tagcloud a:last-child:after {
    content: '';
    margin-right: 0;
}

.sidebar .widget.widget_calendar #next {
    text-align: right;
}

.sidebar .widget.widget_archive > ul > li,
.sidebar .widget.widget_categories > ul > li,
.sidebar .widget.widget_recent_entries > ul > li,
.sidebar .widget.widget_pages > ul > li,
.sidebar .widget.widget_recent_comments > ul > li {
    position: relative;
    padding-left: 30px;
}

.sidebar .widget.widget_archive > ul > li:before,
.sidebar .widget.widget_categories > ul > li:before,
.sidebar .widget.widget_recent_entries > ul > li:before,
.sidebar .widget.widget_pages > ul > li:before,
.sidebar .widget.widget_recent_comments > ul > li:before {
    position: absolute;
    left: 5px;
}

.sidebar .widget.widget_archive > ul > li:before {
    content: "\f115";
    font-family: 'FontAwesome';
    font-size: 16px;
    padding-right: 10px;
}

.sidebar .widget.widget_categories > ul > li:before {
    content: "\f114";
    font-family: 'FontAwesome';
    font-size: 16px;
    padding-right: 10px;
}

.sidebar .widget.widget_recent_entries > ul > li:before {
    content: "\f0f6";
    font-family: 'FontAwesome';
    font-size: 16px;
    padding-right: 10px;
}

.sidebar .widget.widget_pages > ul > li:before {
    content: "\f016";
    font-family: 'FontAwesome';
    font-size: 16px;
    padding-right: 10px;
}

.sidebar .widget.widget_recent_comments > ul > li:before {
    content: "\f0e5";
    font-family: 'FontAwesome';
    font-size: 16px;
    padding-right: 10px;
}

.sidebar .widget ul li ul li a:before {
    content: "-";
    padding-right: 10px;
}

/*-- 14.1 widget-search-box --*/

.search-box {
    position: relative;
}

.search-box:after {
    content: "\e610";
    font-family: 'themify';
    position: absolute;
    right: 12px;
    top: 12px;
    opacity: 0.4;
}

.search-box input[type="text"],
.search-box input[type="search"] {
    border: 1px solid #ececec;
    -webkit-box-shadow: 0 0 10px 0 #ececec;
    box-shadow: 0 0 10px 0 #ececec;
    padding: 12px 30px 12px 20px;
    width: 100%;
    border-radius: 3px;
}

.gallery,
.sidebar .widget .gallery-item img,
.sidebar .widget .gallery-item {
    margin-bottom: 0 !important;
}

.sidebar .widget .gallery-item {
    border: 5px solid #ffffff;
}

/*-- 15. Footer-Area --*/

.footer-area {
    background-color: #2d3441;
    color: #ffffff;
    padding: 100px 0;
    position: relative;
    z-index: 2;
}

.footer-area a {
    color: #ffffff;
}

.footer-area a:hover {
    color: #3ccdbb;
}

.footer-area .social-menu {
    margin-bottom: 30px;
}

.social-menu a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 4px;
    line-height: 40px;
    text-align: center;
    color: #3ccdbb;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}

.social-menu a:hover {
    color: #ffffff;
    background-color: #3ccdbb;
    -webkit-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.copyright a {
    font-weight: 600;
}

/*-- 16. Preloader-Style --*/

.preloade {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.preloade span {
    background: rgba(58, 123, 213, 1);
    /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: -webkit-gradient(linear, left top, right top, from(rgba(58, 123, 213, 0.8)), to(rgba(0, 210, 255, 0.8)));
    background: -webkit-linear-gradient(left, rgba(58, 123, 213, 0.8), rgba(0, 210, 255, 0.8));
    background: -o-linear-gradient(left, rgba(58, 123, 213, 0.8), rgba(0, 210, 255, 0.8));
    background: linear-gradient(to right, rgba(58, 123, 213, 0.8), rgba(0, 210, 255, 0.8));
    border-radius: 100%;
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    -webkit-animation: mymove 1.5s infinite linear;
    animation: mymove 1.5s infinite linear;
}

@-webkit-keyframes mymove {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(37, 162, 203, 0.4), 0 0 0 0 rgba(37, 162, 203, 0.4);
        box-shadow: 0 0 0 0 rgba(37, 162, 203, 0.4), 0 0 0 0 rgba(37, 162, 203, 0.4);
    }
    25% {
        -webkit-box-shadow: 0 0 0 10px rgba(37, 162, 203, 0.4), 0 0 0 10px rgba(37, 162, 203, 0.4);
        box-shadow: 0 0 0 10px rgba(37, 162, 203, 0.4), 0 0 0 10px rgba(37, 162, 203, 0.4);
    }
    50% {
        -webkit-box-shadow: 0 0 0 10px rgba(37, 162, 203, 0.4), 0 0 0 20px rgba(37, 162, 203, 0.4);
        box-shadow: 0 0 0 10px rgba(37, 162, 203, 0.4), 0 0 0 20px rgba(37, 162, 203, 0.4);
    }
    75% {
        -webkit-box-shadow: 0 0 0 10px rgba(37, 162, 203, 0.4), 0 0 0 10px rgba(37, 162, 203, 0.4);
        box-shadow: 0 0 0 10px rgba(37, 162, 203, 0.4), 0 0 0 10px rgba(37, 162, 203, 0.4);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(37, 162, 203, 0.4), 0 0 0 0 rgba(37, 162, 203, 0.4);
        box-shadow: 0 0 0 0 rgba(37, 162, 203, 0.4), 0 0 0 0 rgba(37, 162, 203, 0.4);
    }
}

@keyframes mymove {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(37, 162, 203, 0.4), 0 0 0 0 rgba(37, 162, 203, 0.4);
        box-shadow: 0 0 0 0 rgba(37, 162, 203, 0.4), 0 0 0 0 rgba(37, 162, 203, 0.4);
    }
    25% {
        -webkit-box-shadow: 0 0 0 10px rgba(37, 162, 203, 0.4), 0 0 0 10px rgba(37, 162, 203, 0.4);
        box-shadow: 0 0 0 10px rgba(37, 162, 203, 0.4), 0 0 0 10px rgba(37, 162, 203, 0.4);
    }
    50% {
        -webkit-box-shadow: 0 0 0 10px rgba(37, 162, 203, 0.4), 0 0 0 20px rgba(37, 162, 203, 0.4);
        box-shadow: 0 0 0 10px rgba(37, 162, 203, 0.4), 0 0 0 20px rgba(37, 162, 203, 0.4);
    }
    75% {
        -webkit-box-shadow: 0 0 0 10px rgba(37, 162, 203, 0.4), 0 0 0 10px rgba(37, 162, 203, 0.4);
        box-shadow: 0 0 0 10px rgba(37, 162, 203, 0.4), 0 0 0 10px rgba(37, 162, 203, 0.4);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(37, 162, 203, 0.4), 0 0 0 0 rgba(37, 162, 203, 0.4);
        box-shadow: 0 0 0 0 rgba(37, 162, 203, 0.4), 0 0 0 0 rgba(37, 162, 203, 0.4);
    }
}

.preloade span i {
    bottom: -7px;
    color: #ffffff;
    font-size: 25px;
    height: 32px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
}

.table {
    margin-bottom: 0;
    border: none;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border: none;
    font-size: 14px;
}

.table > thead > tr > th {
    background-color: #f8f8f8
}

#scrollUp {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    color: #ffffff;
    border: 1px solid #3ccdbb;
    background: #3ccdbb;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff;
}

#scrollUp:focus,
#scrollUp:hover {
    -webkit-box-shadow: 0 3px 15px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 0 3px 15px 0px rgba(255, 255, 255, 0.4);
}

.error-page .post-title {
    margin-top: 100px;
}

.error-page .searchform {
    margin-top: 30px;
}

.password_protected {
    margin-top: 60px;
}