
/*
--------------------------
=======CSS Indexing=======
--------------------------
1. Default CSS
2. Input-Box-Style
3. Posts and pages
4. Comment-Style
5. Media-Style
6. Alignment-Style
7. WordPress-Post-Caption-Style
8. Text meant only for screen readers.
9. Post-Gallery-Style
*/

/*-- 1. Default CSS --*/

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    color: #606060;
}

a:hover {
    color: #3ccdbb;
}

input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}

h1 {
    font-size: 2.441em;
}

h2 {
    font-size: 1.953em;
}

h3 {
    font-size: 1.563em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.6em;
    margin: 0 0 15px 0;
    clear: both;
    color: #303030;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

big {
    font-size: 125%;
}

sub,
sup {
    font-size: 12px;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
    max-width: 100% !important;
    height: auto;
}

svg:not(:root) {
    overflow: hidden;
}

pre {
    display: block;
    padding: 20px 30px;
    margin: 0 0 10px;
    line-height: 1.6em;
    font-size: 14px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #3ccdbb;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    padding: 20px 30px;
    margin: 1.5em 0 1.5em 0;
    font-size: 15px;
    border: 1px solid #f0f0f0;
    border-left: 4px solid #aaaaaa;
    background-color: #F7F7F7;
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0 5px 5px 0;
}

address {
    margin: 0 0 1.5em;
    line-height: inherit;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
}

abbr,
acronym {
    border-bottom: 1px dotted #606060;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
    padding: 0 4px;
    border-radius: 2px;
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

table,
table th,
table td {
    border: 1px solid rgba( 68, 68, 68, 0.2);
}

dd,
dt {
    line-height: inherit;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 1.5em;
    width: 100%;
}

td,
th {
    padding: 15px;
}

/*-- 2. Input-Box-Style --*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    padding: 13px;
    border: 1px solid #dadada;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid #3ccdbb;
    border-radius: 2px;
    background: none;
    color: #3ccdbb;
    padding: 0.8em 1.8em;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #3ccdbb;
    color: #ffffff;
    -webkit-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

select {
    border: 1px solid #606060;
}

textarea {
    width: 100%;
}

/*-- 3. Posts and pages --*/

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*-- 4. Comment-Style --*/

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*-- 5. Media-Style --*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

iframe {
    width: 100%;
}

iframe,
object {
    max-width: 100%;
}

/*-- 6. Alignment-Style --*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-- 7. WordPress-Post-Caption-Style --*/

.wp-caption {
    background: #fff;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

figcaption,
.wp-caption p.wp-caption-text {
    margin: 10px 0 0;
    padding: 0 4px 5px;
}

/*-- 8. Text meant only for screen readers. --*/

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/*-- 9. Post-Gallery-Style --*/

.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin-bottom: 30px;
}

.gallery-item img {
    margin-bottom: 15px;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

.mejs-audio {
    margin-bottom: 30px;
}

.container-fluid {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1400px) {
    #scrollUp {
        right: 15px;
        bottom: 15px;
        width: 30px;
        height: 30px;
        font-size: 15px;
        line-height: 28px;
    }

}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #scrollUp {
        right: 15px;
        bottom: 15px;
        width: 30px;
        height: 30px;
        font-size: 15px;
        line-height: 28px;
    }
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    .blog-posts .post-single.sticky {
        padding: 30px;
    }
    /*--Responsive-Menu--*/
    .mainmenu-area ul.nav.navbar-nav,
    .mainmenu-area.tr ul.nav.navbar-nav {
        max-height: 70vh;
        overflow: auto;
    }
    .mainmenu-area .navbar-toggle,
    .mainmenu-area.tr .navbar-toggle {
        border: 1px solid #3ccdbb;
        border-radius: 0;
        margin-top: 24px;
        background: none;
    }
    .mainmenu-area.tr .navbar-toggle .icon-bar,
    .mainmenu-area .navbar-toggle .icon-bar {
        background-color: #3ccdbb;
        border-radius: 0;
    }
    .mainmenu-area ul.nav.navbar-nav {
        padding: 10px;
    }
    .mainmenu-area ul.nav.navbar-nav > li,
    .mainmenu-area.tr ul.nav.navbar-nav > li {
        border-bottom: 1px solid rgba(60, 205, 187, 0.3);
    }
    .mainmenu-area ul.nav.navbar-nav > li:last-child,
    .mainmenu-area.tr ul.nav.navbar-nav > li:last-child {
        border-bottom: none;
    }
    .mainmenu-area ul.nav.navbar-nav > li > a,
    .mainmenu-area.tr ul.nav.navbar-nav > li > a {
        padding: 20px;
        margin: 0;
    }
    .mainmenu-area.tr ul.nav.navbar-nav > li > a:after,
    .mainmenu-area.tr ul.nav.navbar-nav > li > a:before {
        display: none
    }
    .mainmenu-area ul.nav.navbar-nav > li ul,
    .mainmenu-area.tr ul.nav.navbar-nav > li ul {
        margin: 0 0 0 30px;
        padding: 0 0 0 15px;
        list-style: none;
        border-left: 1px solid rgba(60, 205, 187, 0.3)
    }
    .mainmenu-area ul.nav.navbar-nav > li ul li a,
    .mainmenu-area.tr ul.nav.navbar-nav > li ul li a {
        color: #3ccdbb;
        padding: 10px 5px;
        display: block;
        position: relative;
    }

    .mainmenu-area ul.nav.navbar-nav > li ul li a:before,
    .mainmenu-area.tr ul.nav.navbar-nav > li ul li a:before {
        content: '';
        position: absolute;
        left: -15px;
        top: 20px;
        width: 15px;
        height: 1px;
        background-color: rgba(60, 205, 187, 0.3);
    }
    .mainmenu-area .navbar-brand,
    .mainmenu-area.tr .navbar-brand {
        padding-left: 15px;
    }
    .mainmenu-area.tr {
        background-color: #2ACADB;
        position: static;
    }
    /*-- Transparent-Menu --*/
    .mainmenu-area.tr .navbar-toggle {
        border-color: #ffffff;
    }
    .mainmenu-area.tr .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .mainmenu-area.tr ul.nav.navbar-nav > li ul {
        border-color: rgba(255, 255, 255, 0.3);
    }
    .mainmenu-area.tr ul.nav.navbar-nav > li ul li a {
        color: #ffffff;
    }
    .mainmenu-area.tr ul.nav.navbar-nav > li ul li a:before {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .mainmenu-area.tr ul.nav.navbar-nav > li {
        border-color: rgba(255, 255, 255, 0.3);
    }
    .mainmenu-area.tr ul.nav.navbar-nav li.active > a {
        background-color: #ffffff;
        color: #2ACADB
    }
    .comments .comments-list .comment {
        padding-left: 0;
    }
    .comments .comments-list .comment-pic {
        position: static;
        margin-bottom: 30px;
    }
    .comments .comments-list li li {
        margin-left: 30px;
    }
    #scrollUp {
        right: 10px;
        bottom: 10px;
        width: 25px;
        height: 25px;
        font-size: 12px;
        line-height: 22px;
    }
    .form-double .form-group {
        width: 100%;
    }
    .comments-area .comments-list li li .comment-item,
    .comments-area .comments-list .comment-item {
        padding-left: 0;
    }
    .comments-area .comments-list .comment-pic {
        position: static;
        margin-bottom: 20px;
    }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {}