/* Theme Customizer
-------------------------------------------------------------- */

/* Shadow and loading */
.custom_options_shadow {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10001;
	background-color: #000;
	opacity: 0.5;
	display: none;
}
.custom_options_shadow:before {
	content:' ';
	display:none;
	position:absolute;
	top: 50%;
	left:50%;
	width: 3em;
	height: 3em;
	z-index: 1;
	margin: -1.5em 0 0 -1.5em;
	background-color:#ffffff;
}
.custom_options_shadow.loading:before {
	display:block;
	-webkit-animation: rotateplane 1.2s infinite ease-in-out;
			animation: rotateplane 1.2s infinite ease-in-out;
}


/* Custom options */
body.custom_options_opened .custom_options {
	left: 0;
}

.custom_options {
	position: fixed;
	z-index: 10002;
	left: -260px;
	top: 0;
	width: 260px;
	height: 100%;
	padding: 20px 0 0 0;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
	     -o-transition: all 0.5s ease-out;
	        transition: all 0.5s ease-out; 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.admin-bar .custom_options {
	padding: 32px 0 0 0;
}

.custom_options .sc_scroll_bar {
	display:none;
}

.custom_options #co_toggle {
	width: 2.8125em;
	height: 2.8125em;
	line-height: 2.8125em;
	text-align: center;
	position:absolute;
	top: 50%;
	margin-top:-1.4em;
	right: -2.8125em;
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out; 
}
body.custom_options_opened #co_toggle {
	opacity:0;
}

.custom_options .co_header {
	text-align: center;
	text-transform: uppercase;
	border-style: solid;
	border-width: 1px 0;
	height: 2.8125em;
	line-height: 2.8125em;
	padding: 0 1.5625em;
}
.custom_options .co_header .co_reset {
	display: inline-block;
	font-size: 0.75em;
	margin-left:1em;
	vertical-align:top;
	display:none;
}
.custom_options.co_show_reset .co_header .co_reset {
	display:inline-block;
}
.custom_options .co_header .co_reset:before {
	font-size: 1.3em;
	line-height: 1em;
	margin-right: 5px;
	vertical-align:middle;
}

.custom_options .co_section {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 1.5625em;
	position: relative;
}

.custom_options .co_label {
	text-transform: uppercase;
	text-align: center;
	font-size: 0.875em;
	margin: 0 0 5px 0;
}

/* image check */
.custom_options .co_image_check {
	position: relative;
}
.custom_options .co_image_check a {
	display: inline-block;
	margin: 2px;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 120% auto; 
	   -moz-background-size: 120% auto;
	     -o-background-size: 120% auto; 
			background-size: 120% auto;
}
.custom_options .co_image_check a:after,
.custom_options .co_image_check a:before,
.custom_options .co_image_check .co_bg_preview {
	-webkit-transition: all 0.3s ease-out 0.2s;
	   -moz-transition: all 0.3s ease-out 0.2s;
	     -o-transition: all 0.3s ease-out 0.2s;
	        transition: all 0.3s ease-out 0.2s;
}

.custom_options .co_image_check a:before { content: ''; display: block; margin: -6px auto 0 auto; width: 0; height: 0;  border-style: solid; border-width: 6px 5px 0 5px; z-index: 3; opacity: 0;}
.custom_options .co_image_check a.current:before{ opacity: 1;}

.custom_options .co_image_check a:after { 
	/*
	content: '\e805'; 
	font-family: "fontello"; 
	*/
	content: ' ';
	opacity: 0; 
	display: block; 
	border: 1px solid #ccc;
	padding: 2px;
	margin: -3px 0 0 -3px;
}
.custom_options .co_image_check a.active:after { opacity: 1;}

.custom_options .co_image_check .co_bg_preview { display: block; position: absolute; left: 0; right: 0; opacity: 0; border-width: 1px; border-style: solid; z-index: 2; height: 0;  pointer-events: none;}
.custom_options .co_image_check a.current .co_bg_preview { opacity: 1; height: 140px;}


.custom_options .co_image_check .co_scheme_wrapper { width: 20px; height: 20px; position:relative; }
.custom_options .co_image_check .co_pattern_wrapper { width: 20px; height: 20px; }
.custom_options .co_image_check .co_image_wrapper { width: 50px; height: 33px; }

.custom_options .co_image_check .co_pattern_wrapper .co_bg_preview { bottom: 35px; }
.custom_options .co_image_check .co_image_wrapper .co_bg_preview { bottom: 47px;}

.custom_options .co_image_check .co_scheme_wrapper:after { width: 20px; height: 20px; line-height: 20px; font-size: 0.75em; color: #fff; }
.custom_options .co_image_check .co_pattern_wrapper:after { width: 20px; height: 20px; line-height: 20px; font-size: 0.75em; color: #fff; }
.custom_options .co_image_check .co_image_wrapper:after { width: 50px; height: 33px; line-height: 33px; font-size: 0.875em; color: #fff; }

/*--- bg images list ---*/
.custom_options .co_image_check#co_bg_images_list{ text-align: center;}
.custom_options .co_image_check#co_bg_images_list .co_bg_preview { background-repeat: no-repeat; background-position: center center;
	-webkit-background-size: 140% auto; 
	   -moz-background-size: 140% auto;
	     -o-background-size: 140% auto; 
			background-size: 140% auto; 
}

/*--- color scheme list ---*/
.custom_options .co_image_check#co_scheme_list { text-align: center;}
.custom_options .co_image_check#co_scheme_list a { border: 1px solid #c0c2c5;}

/*--- bg pattern list ---*/
.custom_options .co_image_check#co_bg_pattern_list { text-align: center;}
.custom_options .co_image_check#co_bg_pattern_list a { border: 1px solid #c0c2c5;}
.custom_options .co_image_check#co_bg_pattern_list .co_bg_preview { background-repeat: repeat; background-position: center center;}

/*--- switch ---*/
.custom_options .co_switch_box{ border-width: 1px; border-style: solid; margin: 0 auto; position: relative;}
.custom_options .co_switch_box:after{content: ''; display: block; height: 0; clear: both;}
.custom_options .co_switch_box a{ display: block; text-transform: uppercase; font-size: 12px;}
.custom_options .co_switch_box .switcher{ position: absolute; height: 28px; left: 0; top: 0; z-index: -1; 
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
	     -o-transition: all 0.5s ease-out;
	        transition: all 0.5s ease-out;} 

/*--- horizontal ---*/
.custom_options .co_switch_box.co_switch_horizontal{ width: 200px; }
.custom_options .co_switch_box.co_switch_horizontal a{ width: 50%; float: left; height: 28px; line-height: 28px; text-align: center; }
.custom_options .co_switch_box.co_switch_horizontal .switcher{ width: 50%;   }

.custom_options .co_switch_box.co_switch_horizontal.co_switch_columns_3{ width: 200px; }
.custom_options .co_switch_box.co_switch_horizontal.co_switch_columns_3 a{ width: 33.3333%; }
.custom_options .co_switch_box.co_switch_horizontal.co_switch_columns_3 .switcher{ width: 33.3333%; }

.custom_options .co_switch_box.co_switch_horizontal.co_switch_columns_4{ width: 200px; }
.custom_options .co_switch_box.co_switch_horizontal.co_switch_columns_4 a{ width: 25%; }
.custom_options .co_switch_box.co_switch_horizontal.co_switch_columns_4 .switcher{ width: 25%; }

/*--- vertical ---*/
.custom_options .co_switch_box.co_switch_vertical{ width: 100%; height: auto;}
.custom_options .co_switch_box.co_switch_vertical a{ display: block; height: 28px; line-height: 28px; text-align:left; padding: 0 10px 0 30px; overflow: hidden;}
.custom_options .co_switch_box.co_switch_vertical .switcher{ width: 100%;  }
.custom_options .co_switch_box.co_switch_vertical .switcher:before { content: '\e84b'; font-family: "fontello"; display: block; height: 28px; width: 28px; text-align: center; font-size: 10px; line-height: 28px;}

/*--- dark ---*/
.custom_options.co_dark,
.custom_options.co_dark a,
.custom_options.co_dark .co_label,
.custom_options.co_dark .co_header,
.custom_options.co_dark .co_header .co_ico { color: #a1a1a1;}
.custom_options.co_dark .co_header .co_reset:hover{ color: #fff;}
.custom_options.co_dark .co_image_check#co_bg_pattern_list a,
.custom_options.co_dark .co_header,
.custom_options.co_dark .co_switch_box{ border-color: #262628; }
.custom_options.co_dark .co_image_check .co_bg_preview{ border-color: #373737}
.custom_options.co_dark .co_image_check a:before,
.custom_options.co_dark .co_image_check .co_bg_preview:after{ border-color: #373737 transparent transparent  transparent;  }
.custom_options.co_dark .co_scheme_wrapper span:before,
.custom_options.co_dark .iColorPicker.current:before{ border-color: transparent transparent #262628 transparent; }
.custom_options.co_dark .co_scheme_wrapper span,
.custom_options.co_dark .iColorPicker span,
.custom_options.co_dark .co_switch_box .switcher{ background-color: #262628; }
.custom_options.co_dark .co_header .co_ico,
.custom_options.co_dark,
.custom_options.co_dark #co_toggle { background-color: #161616; }
.custom_options.co_dark .co_section{ border-bottom-color: #262628 }
.custom_options.co_dark .iColorPicker{ background-image: url(images/colorpicker_dark.png); }
.custom_options.co_dark .sc_scroll.sc_scroll_vertical .sc_scroll_bar{ background-color: #161616;}
.custom_options.co_dark .sc_scroll.sc_scroll_vertical .sc_scroll_bar .swiper-scrollbar-drag{ background-color: #a1a1a1;}

/*--- light ---*/
.custom_options.co_light,
.custom_options.co_light a,
.custom_options.co_light .co_label,
.custom_options.co_light .co_header,
.custom_options.co_light .co_header .co_ico { color: #787878;}
.custom_options.co_light .co_header .co_reset:hover{ color: #000;}
.custom_options.co_light .co_header{ border-color: #e0e0e0; }
.custom_options.co_light .co_image_check#co_bg_pattern_list a,
.custom_options.co_light .co_switch_box{ border-color: #c4c4c4; }
.custom_options.co_light .co_image_check .co_bg_preview{ border-color: #c4c4c4; }
.custom_options.co_light .co_image_check a:before,
.custom_options.co_light .co_image_check .co_bg_preview:after{ border-color: #c4c4c4 transparent transparent  transparent; }
.custom_options.co_light .co_scheme_wrapper span:before,
.custom_options.co_light .iColorPicker.current:before { border-color: transparent transparent #c4c4c4 transparent; }
.custom_options.co_light .co_scheme_wrapper span,
.custom_options.co_light .iColorPicker span { color: #fff;}
.custom_options.co_light .co_scheme_wrapper span,
.custom_options.co_light .iColorPicker span,
.custom_options.co_light .co_switch_box .switcher{ background-color: #c4c4c4; }
.custom_options.co_light .co_header .co_ico,
.custom_options.co_light,
.custom_options.co_light #co_toggle { background-color: #f0f0f0; }
.custom_options.co_light .co_section{ border-bottom-color: #e0e0e0 }
.custom_options.co_light .iColorPicker { background-image: url(images/colorpicker_light.png); }
.custom_options.co_light .sc_scroll.sc_scroll_vertical .sc_scroll_bar{ background-color: #f4f7f9;}
.custom_options.co_light .sc_scroll.sc_scroll_vertical .sc_scroll_bar .swiper-scrollbar-drag{ background-color: #161616;}

/*--- scroll bar ---*/
.custom_options .sc_scroll.sc_scroll_vertical .sc_scroll_wrapper{ padding: 0; }
.custom_options .sc_scroll.sc_scroll_vertical .sc_scroll_slide { float: none; }
.admin-bar .custom_options .sc_scroll.sc_scroll_vertical .sc_scroll_bar { padding: 99px 0 0 0; }
.custom_options .sc_scroll.sc_scroll_vertical .sc_scroll_bar{ width: 6px; padding: 67px 0 0 0;}
.custom_options .sc_scroll.sc_scroll_vertical .sc_scroll_bar .swiper-scrollbar-drag{ width: 2px; margin: 0 auto;}

/*--- color pic ---*/
.co_colorpic_list{ text-align: center; }
.custom_options .iColorPicker { width: 25px; height: 25px; display: inline-block; margin: 2px; background-repeat: no-repeat; background-position: center center; cursor: pointer; vertical-align: middle; position: relative;
	-webkit-background-size: 100% 100%; 
	   -moz-background-size: 100% 100%;
	     -o-background-size: 100% 100%; 
			background-size: 100% 100%; 
}
.custom_options .co_scheme_wrapper span,
.custom_options .iColorPicker span,
.custom_options .iColorPicker.current:before {
	-webkit-transition: opacity 0.3s ease-out;
	   -moz-transition: opacity 0.3s ease-out;
	     -o-transition: opacity 0.3s ease-out;
	        transition: opacity 0.3s ease-out;
}
.custom_options .co_scheme_wrapper span,
.custom_options .iColorPicker span { display: block; position: absolute; bottom: -28px; left: 50%;   font-size: 12px; text-align: center; opacity: 0; color: #a1a1a1; width: 0; margin: 0; height: 20px; line-height: 20px; }
.custom_options .iColorPicker span { overflow: hidden; }
.custom_options .co_scheme_wrapper:hover span,
.custom_options .iColorPicker.current span { opacity: 1; margin: 0 0 0 -50px; width: 100px; }
.custom_options .co_scheme_wrapper span:before,
.custom_options .iColorPicker.current:before { content: ' '; display: block; height: 0; width: 0; position: absolute; left: 50%; bottom: -8px; border-style: solid; border-width: 0 5px 6px 5px; margin: 0 0 0 -3px;  z-index: 2; opacity: 0; }
.custom_options .co_scheme_wrapper span:before { bottom:auto; top: -6px; }
.custom_options .co_scheme_wrapper:hover span:before,
.custom_options .iColorPicker.current:before { opacity: 1; }

.iColorPickerTable .iColorPicker_moreColors { background-image: url(images/colorpicker_morecolors.png); background-repeat:no-repeat; display:inline-block; margin-left: 0.5em; width: 1em; height: 1em; line-height:1em; vertical-align:middle; }

.iColorPickerTable { background-color: #ddd !important; padding:5px; color:#fff; z-index:999999; margin: 5px 0 0 0;}
.iColorPickerTable .colorPickerTable td {
	border-color: #ddd !important;
	border-width:0 !important;
	-webkit-transition: background-color 0.5s ease-out;
	   -moz-transition: background-color 0.5s ease-out;
	     -o-transition: background-color 0.5s ease-out;
	        transition: background-color 0.5s ease-out; }
.iColorPickerTable .colorPickerTable thead tr td{ width: 0.875em !important; height: 0.875em !important; overflow: hidden; line-height: 0; padding: 0; cursor: pointer; }
.iColorPickerTable .colorPickerTable thead tr td:hover{
	-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.5) inset;
	   -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.5) inset;
	        box-shadow: 0 0 4px 0 rgba(0,0,0,0.5) inset; }
.iColorPickerTable .colorPickerTable tbody tr td{ vertical-align: middle; text-align: center; height: 3.125em; }
